{
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "templateStrings": true,
        "jsx": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "strict": 0,
        "block-scoped-var": true,
        "curly": true,
        "dot-notation": [2, {"allowKeywords": false, "allowPattern": "^[a-z]+(_[a-z]+)+$"}],
        "guard-for-in": true,
        "no-else-return": true,
        "wrap-iife": [2, "inside"],
        "no-throw-literal": true,
        "indent": 4,
        "brace-style": "stroustrup",
        "camelcase": true,
        "eol-lint": true,
        "no-mixed-spaces-and-tabs": true,
        "no-multiple-empty-lines": [1, {"max": 2}],
        "no-space-before-semi": true,
        "no-spaced-func": true,
        "no-trailing-spaces": true,
        "no-underscore-dangle": false,
        "no-wrap-func": true,
        "operator-assignment": [2, "always"],
        "semi": [2, "always"],
        "space-before-function-parentheses": {"anonymous": "never", "named": "always"},
        "space-in-parens": "never",
        "space-infix-ops": true,
        "space-return-throw-case": true,
        "space-unary-ops": {"words": true, "nonwords": false},
        "react/display-name": 1,
        "react/jsx-quotes": 1,
        "react/jsx-no-undef": 1,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/no-multi-comp": 1,
        "react/no-unknown-property": 1,
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1,
        "react/wrap-multilines": 1
    }
}
