<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        {% block head %}
        <link rel="stylesheet" href="./css/base.css" media="screen" charset="utf-8">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
